<header class="header">
  <div class="navbar">
    <div class="navbar-brand">
      <div class="ocpn-logo"> </div>
      <a class="navbar-title"
         href="{{{or site.url (or siteRootUrl siteRootPath)}}}"
      >
        {{site.title}}
        </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
       <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            {{#if page.attributes.resource_1_title}}
              <a class="navbar-item" href="{{page.attributes.resource_1_url}}">
                {{page.attributes.resource_1_title}}
              </a>
            {{/if}}
            {{#if page.attributes.resource_2_title}}
              <a class="navbar-item" href="{{page.attributes.resource_2_url}}">
                {{page.attributes.resource_2_title}}
              </a>
            {{/if}}
            {{#if page.attributes.resource_3_title}}
              <a class="navbar-item" href="{{page.attributes.resource_3_url}}">
                {{page.attributes.resource_3_title}}
              </a>
            {{/if}}
            {{#if page.attributes.resource_4_title}}
              <a class="navbar-item" href="{{page.attributes.resource_4_url}}">
                {{page.attributes.resource_4_title}}
              </a>
            {{/if}}
            {{#if page.attributes.resource_5_title}}
              <a class="navbar-item" href="{{page.attributes.resource_5_url}}">
                {{page.attributes.resource_5_title}}
              </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
